// font
$family: "Inter", sans-serif;

$size: 16px;

// colors

$color-white: #ffffff;
$color-blue-light: #e7f5fe;
$color-blue-lighter: #d7e7fe;
$color-gray: #808080;
$color-gray-dark: #444444;
$color-blue: #4a90e2;
$color-blue-dark: #3460f7;
$color-blue-darker: #587dff;
$color-blue-darkest: #0000ff;
$color-gray-rgba: rgba(193,193,193,0.7);
$color-black: #000000;
$color-purple: #9c27b0;
$color-gray-lightest: rgba(0,0,0,0.15);
$color-gray-lightest-2: rgba(0,0,0,0.2);
$color-gray-lightest-3: rgba(0,0,0,0.36);
$color-gray-border: rgb(200, 200, 200);
$color-gray-hover: rgb(174, 171, 171);
$color-blue-outline: #D3EDfa;
$color-background-1: #f6fbff;
$color-background-2: #f5f5f5;